.itemLay{
    display: grid;
    grid-template-columns: 0.2fr auto auto;
    padding:20px;
}

.itemprices{
    text-align: end;
}

.itemButtons{
    display: flex;
    justify-content: flex-end;
}

.itemLay h1{
    font-size:22px;
    
}

.itemcontent{
    padding-left: 20px;
}