.cartItemsListLay{
    display: grid;
    grid-template-columns: 0.7fr 1px 0.2fr;
    column-gap: 40px;
    padding: 40px;
}
.vertical-hr {
    border: none;
    border-left: 1px solid #dfdfdf;
    height: auto; /* Set the desired height for the vertical line */
  }

.cartItemsList h1{
    font-size: x-large;
}

.checkoutitems{
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 4px;
    column-gap: 100px;
}

.checkoutlay h1{
    font-size: x-large;
}

.extra{
    display: grid;
    grid-template-columns: 1fr auto;
}